@font-face {
  font-family: Abel;
  src: url("./assets/font/Abel/Abel-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abel
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --white-color: #fff;
  --bg-color: #0f172a;
  --dark-color: #1e293b;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}