.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 2rem 4.5rem;
    border: 2px solid silver;
    box-shadow: 0px 2px 5px 5px rgba(192, 192, 192, 0.65);
    border-radius: 5px;
    width: 200px;
    margin: auto;
    margin-top: 1.5rem;
}

.product img{
    width: 200px;
    height: 170px;
    align-self: center;
}

.product p{
    padding: 2px 5px;
    background-color: darkgreen;
    width: fit-content;
    border-radius: 3px;
    color: var(--white-color);
}
