.container{
    width: 75%;
    margin: 0px auto;
}

.header{
    color: var(--white-color);
}

.items{
    padding: 0px;
}

.items li{
    padding: 0.6rem 0px;
    cursor: pointer;
}

.items li:hover a{
    margin-left: 1rem;
    color: rgb(197, 89, 50);
}

.items a{
    color: var(--white-color);
    transition: all 0.2s ease;
}

