#footer{
    width: 100%;
    background-color: #16233f;
    margin: auto;
    padding-bottom: 2rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

.header{
    text-align: center;
    margin-top: 5rem;
    font-size: 2.2rem;
    padding-top: 2rem;
    color: var(--white-color);
}
