#footer{
    width: 100%;
    background-color: #16233f;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
}

.header{
    text-align: center;
    margin-top: 5rem;
    font-size: 2.2rem;
    padding-top: 2rem;
    color: var(--white-color);
}

@media (max-width: 768px){
    .container{
        justify-content: center;
    }
}