.container {
  width: 200px;
  height: 350px;
  border: 1px solid silver;
  margin: 1.3rem;
  padding: 1.5rem;
  background-color: azure;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px silver;
}

.imageProduct img {
  width: 100%;
  height: 190px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem 0px;
}

.title span:first-child {
  color: silver;
}

.title span:last-child {
  color: var(--white-color);
  background-color: rgb(197, 89, 50);
  padding: 5px;
  border-radius: 5px;
}

.priceProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
}

.priceProduct span:first-child{
  color: silver;
  font-size: 1.1rem;
}

.priceProduct span:last-child{
  color: var(--white-color);
  background-color: darkgreen;
  padding: 5px;
  border-radius: 5px;
}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid rgb(157, 150, 150);
}

.counter p{
    background-color: #175fbd;
    border-radius: 3px;
    padding: 3px 7px;
}

.counter a{
    color: var(--white-color);
    padding: 5px;
}
/* #003c3c */